$color-oscuro: #2f3640;
$letra-clara: #616161;

.footerLinks {
    background: $color-oscuro;
    color: $letra-clara;
    font-size: 12px;
    padding: 35px 0;
    li {
        line-height: 2.8;
    }
}
.footerContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    ul {
        margin: 0 auto;
        img {
            width: 2rem;
        }
    }
}
 
.autor {
    background: black;
    color: $letra-clara;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
  }