/*Header*/

.contenedor {
    width: 100%;
    margin: auto;
}

.navbar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 0;
}
.logo {
    width: 80px;
}

.navbar ul {
    display: flex;
    li {
        padding: 20px;
        a {
            padding: 2px;
            &:hover {
                border-bottom: 2px solid #ffffff;
            }
        }
    }
}    

hr {
    margin: 10px 0;
}
