@import "body";
@import "header";
@import "main";
@import "footer";
@import "mobile";

/*Pag de productos*/


.mainProductos{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
}

.categorias{
    padding: 20px 0;
}
.categorias a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    transition: all 1.5s;
        &:hover{
            transform: scale(1.3, 1.3);
            color: chocolate;
        }
}
.productos{
    width: 100%;
    height: auto;
    padding: 20px 0;
    a{
        padding: 10px 0;
        color: #f2f2f2;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        transition: all 1.5s;
            &:hover{
                transform: scale(1.3, 1.3);
                color: chocolate;
            }
    }
}
.productos img{
    width: 180px;
    height: auto;
}
